<div class="main">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch) do %>
  <h2>編集する</h2>
  <input type="text" name="title" value="<%= @blog.title %>" placeholder="タイトル" autofocus="true">
  <textarea name="text" placeholder="内容" rows="20" cols="50"><%= @blog.text %></textarea>
  <input type="submit" value="変更する">
  <% end %>
</div>