<div class="main">
  <h2><%= current_user.nickname %>さんのブログ</h2>
  <% @blogs.each do |blog| %>
    <div class="blog-title">
      <%= blog.title %>
    </div>
    <div class="blog-text">
      <%= simple_format(blog.text) %>
    </div>
    <% end %>
    <div class="paginate">
    <%= paginate(@blogs) %>
    </div>
</div>