<div class="main">
  <div class="blog-title">
    <%= @blog.title %>
  </div>
  <div class="blog-text">
    <%= simple_format(@blog.text) %>
  </div>
  <div class="btns">
   <% if user_signed_in? && current_user.id == @blog.user_id %>
  <div class="btn">
    <%= link_to '削除', "/blogs/#{@blog.id}", method: :delete %>
  </div>
  <% end %>
    <%= link_to 'ホームに戻る', root_path %>
  </div>
</div>